<ion-header class="container ion-container mb-5">
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>
      Gestión Estudiantil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item routerLink="/login" routerDirection="root">
        <ion-label>Login</ion-label>
      </ion-item>
      <ion-item routerLink="/inicio">
        <ion-label>Inicio</ion-label>
      </ion-item>
      <ion-item routerLink="/eventos">
        <ion-label>Eventos</ion-label>
      </ion-item>
      <ion-item routerLink="/calificaciones">
        <ion-label>Calificaciones</ion-label>
      </ion-item>
      <ion-item routerLink="/horario-de-clases">
        <ion-label>Horario de Clases</ion-label>
      </ion-item>
      <ion-item routerLink="/ramos">
        <ion-label>Ramos</ion-label>
      </ion-item>
      <ion-item routerLink="/planograma-general">
        <ion-label>Planograma General</ion-label>
      </ion-item>
      <ion-item routerLink="/todo-list">
        <ion-label>Status General</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-content id="main-content">
  <ion-router-outlet></ion-router-outlet>
</ion-content>


<ion-tabs class="container" slot="bottom">
  
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventos">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="planograma-general">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Planograma</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

